@font-face {
	font-family: OpenSansLight;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/OpenSansLight/OpenSansLight.eot?#iefix) format("embedded-opentype"),url(fonts/OpenSansLight/OpenSansLight.woff) format("woff"),url(../fonts/OpenSansLight/OpenSansLight.ttf) format("truetype")
}
main{
	margin: 20px 0;
}
.mt2{
	margin-top: 20px;
}
.mb4{
	margin-bottom: 40px;
}

.main-title {
	background-color: #2cbc99;
	position: relative
}

.main-title h1 {
	max-width: 700px;
	margin: 0 auto;
	color: #fff;
	font-family: 'OpenSansLight';
	font-weight: 100;
	font-size: 44px;
	line-height: 125px;
	min-height: 135px;
	position: relative
}

.main-title h1:before {
	position: absolute;
	content: '';
	bottom: -39px;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 40px 0;
	border-color: #2cbc99 transparent transparent
}

.title-plagin {
	font-size: 32px;
	padding-left: 30px;
	border-left: 5px solid #fcbf02;
	font-family: 'OpenSansLight';
	font-weight: 100;
}

.btn{
	background-color: #2cbc99;
	border: none;
	outline: none;
	display: inline-block;
	vertical-align: top;
	border-radius: 5px;
	padding: 5px 10px;
	color: #fff;
	min-width: 80px;
	text-align: center;
}

.plagin-content{
	max-width: 700px;
	margin: 0 auto;	
}



/*----------Custom style start----------*/
.demo-wrap{
	border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.demo-item{
	margin-right: 25px!important;
	display: inline-block!important;
	vertical-align: middle!important;
	position: relative!important;
}
.demo-item:before{
	display: none;
}
.demo-item.big{
	width: 270px;
	height: 300px;
	font-size: 28px;
}
.demo-item.normal{
	width: 180px;
	height: 200px;
	font-size: 24px;
}
.demo-item.small{
	width: 90px;
	height: 100px;
	font-size: 18px;
}
.demo-item .svg-progress-output{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;	
	font-family: 'OpenSansLight';
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%)
}
.demo-item .svg-progress-output.triangle{
	top: 70%;
}

.source-code{
	position: absolute;
	bottom: -300px;
	left: 0;
	width: 100%;
	height: 300px;
	background-color: #fff;
	transition: bottom .3s;
    -webkit-transition: bottom .3s;
}
.source-code.active{
	bottom: 0;
}
.source-code .close-source{
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: transparent;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: #fcbf02;
	border: 2px solid #fcbf02;
	outline: none;
}
.source-code .source-wrap{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%)
}
.demo-wrap .col-md-8{
	overflow: hidden;
}
/*----------Custom style start----------*/



footer {
	background-color: #2cbc99;
	color: #fff;
	margin-top: 0
}

footer .copy {
	line-height: 50px
}

footer .copy a {
	color: #fff
}

footer .copy .dev {
	position: absolute;
	right: 0;
	bottom: -45px;
	width: 150px;
	height: 40px;
	padding-left: 24px;
	background-image: url(../img/copy.png);
	background-repeat: no-repeat;
	background-position: center left;
	line-height: 14px!important;
	background-size: 20px;
	font-size: 10px;
	padding-top: 5px
}
footer .copy .dev span {
	display: block
}
